<launch>
<!-- variables -->
    <let name="urdf_path"
         value="$(find-pkg-share pauli)/urdf/xacro/model_pauli.xacro" />
    <let name="config_path"
         value="$(find-pkg-share pauli)/rviz2/differential_drive.rviz" />
         
<!-- opening nodes -->
    <!-- Combine joint values -->
    <node pkg="robot_state_publisher" exec="robot_state_publisher">
        <param name="robot_description"
            value="$(command 'xacro $(var urdf_path)')" />
    </node>

    <!-- send fake joint values -->
    <node  pkg="joint_state_publisher_gui" exec="joint_state_publisher_gui" />

    <!-- Show in Rviz   -->
    <node pkg="rviz2" exec="rviz2" output="screen"
            args="-d $(var config_path)" />
</launch> 